<h2>Ejemplo crud</h2>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<mat-tab-group dynamicHeight animationDuration="1100ms" [(selectedIndex)]=selectedIndex class="pestana"
  style="height:700px;">

  <mat-tab label="Tabla de Registros">
    <mat-grid-list cols="5" rows="2">
      <mat-grid-tile [colspan]="3" [rowspan]="2">
        <div class="container" style="margin-top: 10px;">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="table table-hover">

            <!-- Position Column -->
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef> Country </th>
              <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="warn" (click)="delete(element._id)">Delete</button>
                <button mat-button color="accent" (click)="select(element)">Update</button>
                <button mat-button color="primary" (click)="view(element)">View</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!--
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Acciones </th>
      
    </tr>

    <tr *ngFor="let elemento of elementos">
      <td>{{ elemento._id }}</td>
      <td>{{ elemento.name }}</td>
      <td>{{ elemento.gender }}</td>
      <td>
        <button mat-button color="warn" (click)="deletePolicy(elemento._id)">Delete</button>
        <button mat-button color="accent" (click)="selectPolicy(elemento)">Update</button>
      </td>
    </tr>
  -->
          </table>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2">

        <mat-card class="example-card" style="width: 40%; max-width: 100%; max-height: 600px;bottom: -20px;">

          <div *ngIf="selectelement">
            <button mat-button color="warn" (click)="close()" style="left: 50%;">
              <mat-icon>clear</mat-icon>Close
            </button>
            <h4>Registro</h4>
            <div>
              <label><strong>Name:</strong></label> {{ viewelement.name }}
            </div>
            <div>
              <label><strong>Gender:</strong></label>
              {{ viewelement.gender }}
            </div>
            <div>
              <label><strong>Age:</strong></label>
              {{ viewelement.age}}
            </div>
            <div>
              <label><strong>Address:</strong></label>
              {{ viewelement.address}}
            </div>
            <div>
              <label><strong>City:</strong></label>
              {{ viewelement.city}}
            </div>
            <div>
              <label><strong>Country:</strong></label>
              {{ viewelement.country}}
            </div>
            <div>
              <label><strong>Status:</strong></label>
              {{ viewelement.status}}
            </div>
          </div>

          <div *ngIf="!selectelement">
            <br />
            <p>Please click on a Registro...</p>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>


  <mat-tab label="Formulario">
    <button mat-raised-button color="primary" (click)="clear()" style="left: 50px; bottom: -15px;">Limpiar
      Formulario</button>
    <br>
    <mat-card class="example-card" style="bottom: -10px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div>
              <form #f="ngForm">
                <mat-form-field>
                  <input matInput placeholder="Name" type="text" name="name" [(ngModel)]="selectedelement.name">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select name="gender" [(ngModel)]="selectedelement.gender">
                    <mat-option *ngFor="let gender of generos" [value]="gender">
                      {{gender}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <!-- <mat-form-field>
                  <input matInput placeholder="Gender" type="text" name="gender" [(ngModel)]="selectedelement.gender">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>-->
                <mat-form-field>
                  <input matInput placeholder="Age" type="text" name="age" [(ngModel)]="selectedelement.age">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Address" type="text" name="address"
                    [(ngModel)]="selectedelement.address">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="City" type="text" name="city" [(ngModel)]="selectedelement.city">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Country" type="text" name="country"
                    [(ngModel)]="selectedelement.country">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Civil Status" type="text" name="status"
                    [(ngModel)]="selectedelement.status">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <button type="button" mat-raised-button color="primary" (click)="createOrUpdate(f)"
                  style="margin: 0 auto;">Create or
                  Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>